$red: #B44326;
$orange: #F2A34F;
$yellow: #FFDC00;
$green: #7FC028;
$light-blue: #00A6FC;
$blue: #0074D9;
$navy: #001F3F;
$purple: #8E48C2;
$white: #fff;
$black: #272727;
$gray: #DDD;

$key-color: $blue;
$border-color: $gray
